:root {
  --white: #fff;
  --main-background-color: #f3f4f7;
  --border-grey-color: #eeeeee;
  --primary-color: #2a6f97;
  --hilight-yellow: #ffd60a;
  --text-color: #495057;
  --primary-fonr-color: #303133;
  --header-width: 240px;
  --banner-width: 300px;
  --base-space-px: 4px;
  --spacing-1: calc(var(--base-space-px) * 1);
  --spacing-2: calc(var(--base-space-px) * 2);
  --spacing-3: calc(var(--base-space-px) * 3);
  --spacing-4: calc(var(--base-space-px) * 4);
  --spacing-5: calc(var(--base-space-px) * 5);
  --spacing-6: calc(var(--base-space-px) * 6);
  --spacing-7: calc(var(--base-space-px) * 7);
  --spacing-8: calc(var(--base-space-px) * 8);
  --spacing-9: calc(var(--base-space-px) * 9);
  --spacing-10: calc(var(--base-space-px) * 10);
  --spacing-11: calc(var(--base-space-px) * 11);
  --spacing-12: calc(var(--base-space-px) * 12);
  --spacing-13: calc(var(--base-space-px) * 13);
  --spacing-14: calc(var(--base-space-px) * 14);
  --spacing-15: calc(var(--base-space-px) * 15);
  --spacing-16: calc(var(--base-space-px) * 16);
  --spacing-17: calc(var(--base-space-px) * 17);
  --spacing-18: calc(var(--base-space-px) * 18);
  --spacing-19: calc(var(--base-space-px) * 19);
  --spacing-20: calc(var(--base-space-px) * 20);
  --spacing-21: calc(var(--base-space-px) * 21);
  --spacing-22: calc(var(--base-space-px) * 22);
  --spacing-23: calc(var(--base-space-px) * 23);
  --spacing-24: calc(var(--base-space-px) * 24);
  --spacing-25: calc(var(--base-space-px) * 25);
  --spacing-43: calc(var(--base-space-px) * 43);
}
