$font-b: 24px;
$font-m: 20px;
$font-s: 16px;
$color-a: #EBD9C7;
$color-b: #FFFBF7;
$color-c: #1886A0;
$color-d: #C75C29;
$color-e: #3C240310;
$color-f: #4C2311;
$color-g: #482210;
.start {
    position: fixed;
}
@media screen and (min-width: 960px) {
    body {
        font-weight: bold;
    }
    .header {
        align-items: center;
        background-color: $color-a;
        display: flex;
        font-weight: bold;
        height: 120px;
        width: 100%;
            &__logo {
                img {
                    margin-left: 60px;
                    width: 200px;
                }
            }
            &__nav{
                margin-left: auto;
                margin-right: 20px;
                width: 70%;
            }
            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            &__list {
                font-size: $font-s;
            }
    }
    .top {
        display: flex;
        align-items: center;
        background-color: $color-a;
        height: 600px;
        padding-left: 25%;
        &__message {
            font-size: 120px;
            font-weight: bold;
        }
    }
    
    .introduce {
        align-items: center;
        background-color: $color-b;
        display: flex;
        height: 800px;
        padding: 0 80px 0px 70px;
        img {
            width: 30%;
            box-shadow: 20px 20px #E57B48;
        }
        p {
            margin-left: 10%;
            font-size: $font-m;
            font-weight: bold;
            line-height: 2em;
        }
    }
    
    .problem {
        background-color: #1886A0;
        color: white;
        text-align: center;
        height: auto;
        .fa-question-circle {
            font-size: 8em;
            margin-top: 80px;
        }
        &__topic {
            font-size: 30px;
            margin-top: 120px;
        }
        .worries {
            color: black;
            display: flex;
            justify-content: space-between;
            margin: 120px 100px 0 100px;
            padding-bottom: 100px;
            &__worry {
                background-color: white;
                border-radius: 20px;
                padding: 30px 30px 0 30px;
                width: 30%;
                .fa-times {
                    color: $color-d;
                    font-size: 3em;
                    margin-right: 10px;
                }
                &--title {
                    font-size: $font-b;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &--text {
                    margin-top: 20px;
                    font-size: 14px;
                    line-height: 1.8em;
                }
                img {
                    margin-top: 20px;
                    width: 50%;
                }
                
            }
    
        }
        
    }
    
    .reason {
        background-color: #FFFBF7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 100px 400px 100px;
        position: relative;
        &__head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100px;
            width: 700px;
            z-index: 2;
            p {
                color: white;
                padding: 30px 40px 30px 40px;
                background-color: #C75C29;
                border-radius: 50px;
                font-size: $font-s;
                span {
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
            &--bottom {
                position: relative;
                width: 80%;
                .custom-shape-divider-top-1646805288 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    overflow: hidden;
                    line-height: 0;
                }
                
                .custom-shape-divider-top-1646805288 svg {
                    position: relative;
                    display: block;
                    width: calc(100% + 1.3px);
                    height: 80px;
                }
                
                .custom-shape-divider-top-1646805288 .shape-fill {
                    fill: #C75C29;
                }
            }
        }
    
        .custom-shape-divider-top-1646803781 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom-shape-divider-top-1646803781 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 100px;
        }
        
        .custom-shape-divider-top-1646803781 .shape-fill {
            fill: #1886A0;
        }
        &__title {
            margin-top: 200px;
            &--bigger {
                color: $color-e;
                font-size: 100px;
            }
            &--smaller {
                font-size: $font-m;
                color: $color-f;
                margin-top: -70px;
            }
            .three-reason {
                color: $color-g;
                font-size: $font-b;
                margin-top: 20px;
                span {
                    color: $color-d;
                    font-size: 50px;
                }
            }
        }
        
        &__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 50px;
            width: 100%;
        }
        &__item {
            background-color: #EBD9C7;
            border-radius: 10px;
            padding-bottom: 40px;
            width: 30%;
            &--number {
                color: $color-d;
                font-size: 60px;
                margin: -30px 0 0 -100%;
            }
            &--title {
                font-size: $font-s;
                margin-top: 20px;
            }
            &--text {
                color: $color-g;
                font-size: $font-b;
                margin-top: 20px;
                span {
                    color: $color-d;
                }
            }
        }
    
    }
    
    .detail {
        background-color: #FFFBF7;
        padding: 0 100px 250px 100px;
        &__line {
            border-top: solid 2px $color-d;
            width: 300px;
        }
        .details {
            display: flex;
            align-items: center;
            flex-direction: column;
            &-item {
                align-items: center;
                display: flex;
                flex-direction: row;
                margin-top: 150px;
                .left {
                    margin-right: -120px;
                    margin-left: 120px;
                }
                &__body {
                    align-items: center;
                    background-color: white;
                    box-shadow: 0 0 10px grey;
                    display: flex;
                    flex-direction: column;
                    padding: 0 30px 40px 30px;
                    z-index: 5;
                    &--number {
                        color: $color-d;
                        font-size: 90px;
                        margin: -30px 0 0 -100%;
                    }
                    &--title {
                        font-size: $font-s;
                    }
                    &--text {
                        color: $color-g;
                        font-size: $font-b;
                        margin-top: 20px;
                        span {
                            color: $color-d;
                        }
                    }
                    &--discript {
                        margin-top: 30px;
                        color: $color-f;
                        font-size: 12px;
                    }
                }
                .left {
                    margin-right: -120px;
                    margin-left: 120px;
                }
                .right {
                    margin-right: 120px;
                    margin-left: -120px;
                }
                .number-right {
                    margin: -30px -100% 0 0;
                }
                img {
                    width: 60%;
                }
            }
        }
    }
    .detail-after {
        position: relative;
        .custom-shape-divider-top-1646793539 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom-shape-divider-top-1646793539 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 144px;
        }
        
        .custom-shape-divider-top-1646793539 .shape-fill {
            fill: #FFFBF7;
        }
    }
    .flow {
        background-color: #F5EBE1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 200px;
        &__title {
            margin-top: 300px;
            &--bigger {
                color: $color-e;
                font-size: 100px;
            } 
            &--smaller {
                font-size: $font-m;
                color: $color-f;
                margin-top: -70px;
            }
        }
        &__img {
            .img5 {
                margin-top: 200px;
                width: 70%;
            }
        }
        &__items {
            display: flex;
            flex-direction: column;
            margin-top: 200px;
            align-items: center;
        }
        &__item {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
        &__logo {
            width: 10%;
            &--number {
                aspect-ratio: 1;
                background-color: $color-d;
                border-radius: 50%;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                span {
                    font-size: $font-b;
                    margin-top: 10px;
                }
                }
            &--number1 {
                aspect-ratio: 1;
                background-color: $color-d;
                border-radius: 50%;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto 0 auto;
                width: 25%;
                span {
                    font-size: $font-b;
                    margin-top: 10px;
                }
                }
    
            &--box {
                height: 250px;
                &-left {
                    border-right: dashed 2px $color-d;
                    height: 100%;
                    width: 50%;
                }
            }
            &--box2 {
                height: 280px;
                &-left {
                    border-right: dashed 2px $color-d;
                    height: 100%;
                    width: 50%;
                }
            }
            &--box1 {
                height: 50px;
                &-left {
                    border-right: dashed 2px $color-d;
                    height: 100%;
                    width: 50%;
                }
            }
            }
        &__text {
            padding-top: 50px;
            text-align: start;
            width: 37%;
            &--title {
                color: #4B2F0E;
                font-size: $font-b;
            }
            &--body {
                color: #4B2F0E;
                font-size: 14px;
                line-height: 1.8em;
                margin-top: 40px;
            }
        }
        &__img2 {
            padding-top: 20px;
            width: 43%;
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
        .bottom {
            font-size: $font-m;
            background-color: rgb(230,202,165);
            border-radius: 50px;
            margin-top: 150px;
            padding: 20px 80px 20px 80px;
        }
    }
    .flow-after {
        position: relative;
        .custom-shape-divider-top-1646793619 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom-shape-divider-top-1646793619 svg {
            position: relative;
            display: block;
            width: calc(134% + 1.3px);
            height: 152px;
        }
        
        .custom-shape-divider-top-1646793619 .shape-fill {
            fill: #F5EBE1;
        }
    }
    .price {
        align-items: center;
        background-color: #F2E1D0;
        display: flex;
        flex-direction: column;
        padding-top: 250px;
        padding-bottom: 200px;
        text-align: center;
        &__title {
            &--bigger {
                color: $color-e;
                font-size: 100px;
            }
            &--smaller {
                font-size: $font-b;
                color: $color-f;
                margin-top: -70px;
            }
        }
        &__message {
            font-size: $font-b;
            color: #1F140F;
            line-height: 2.5em;
            margin-top: 100px;
            span {
                font-size: 40px;
                color: $color-c;
                margin-right: 5px;
            }
            .fifteen {
                font-size: 50px;
                letter-spacing: 0.001em;
            }
    
        }
        &__border {
            border-right: dashed 2px $color-c;
            margin-top: 20px;
            height: 150px;
        }
        &__address {
            background-color: $color-c;
            border-radius: 10px;
            color: white;
            font-size: $font-m;
            line-height: 1.6em;
            margin-top: 30px;
            text-align: left;
            padding: 30px;
            width: auto;
        }
        .bottom {
            font-size: $font-m;
            background-color: rgb(230,202,165);
            border-radius: 50px;
            margin-top: 200px;
            padding: 20px 80px 20px 80px;
        }
    }
    .company {
        align-items: center;
        text-align: center;
        padding: 0 50px 150px 50px;
        display: flex;
        flex-direction: column;
        
        &__title {
            margin-top: 200px;
            &--bigger {
                color: $color-e;
                font-size: 100px;
            }
            &--smaller {
                font-size: $font-b;
                color: $color-f;
                margin-top: -70px;
            }
        }
        &__items {
            background-color: #F2E1D0;
            border-radius: 10px;
            font-size: $font-b;
            margin-top: 300px;
            text-align: start;
            padding: 80px 130px 130px 130px;
            width: 100%;
            &--item {
                border-bottom: dotted 1px black;
                margin-top: 50px;
                padding: 0 0 30px 15px;
            }
        }
        &__represent {
            margin: 100px 50px 0 80px;
            display: flex;
        }
        img {
            width: 26%;
        }
        &__profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-left: auto;
            width: 64%;
            &--1 {
                font-size: $font-m
            }
            &--2 {
                font-size: 35px;
                margin-top: 30px;
            }
            &--3 {
                color: #1F140F;
                font-size: $font-m;
                font-weight: normal;
                margin-top: 30px;
            }
        }
        .bottom {
            font-size: $font-m;
            background-color: rgb(230,202,165);
            border-radius: 50px;
            margin-top: 200px;
            padding: 20px 80px 20px 80px;
        }
    }
    .footer {
        background-color: black;
        color: white;
        padding: 30px 0 30px 0;
        &__container {
            display: flex;
        }
        &__account {
            padding-left: 15%;
            width: 50%;
            &--title {
                font-size: 30px;
                letter-spacing: 0.1em;
            }
            &--name {
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.1em;
                margin-top: 20px;
            }
            &--mail {
                font-size: 12px;
                font-weight: 50;
                margin-top: 20px;
                opacity: 0.9;
            }
            .socialEffect__box {
                display: flex;
                margin-top: 10px;
                .fab {
                    font-size: 1.5em;
                    margin-right: 30px;
                    opacity: 0.8;
                    transition: 0.3s;
                    &:hover {
                        color: $color-c;
                    }
                }
            }
        }
        &__nav {
            font-weight: normal;
            letter-spacing: 0.15em;
            line-height: 2em;
            width: 50%;
            ul {
                margin-left: 50px;
                display: flex;
                .right {
                    margin-left: 50px;
                }
            }
        }
    }
}
@media screen and (max-width: 959px) and (min-width: 480px) {
    body {
        font-weight: bold;
    }
    .header {
        align-items: center;
        background-color: $color-a;
        display: flex;
        font-weight: bold;
        height: auto;
        padding-top: 30px;
        width: 100%;
        img {
            margin-left: 30px;
            width: 200px;
        }
            &__nav{
                margin-left: auto;
                margin-right: 20px;
                width: 70%;
            }
            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            &__list {
                font-size: 14px;
            }
    }
    .top {
        display: flex;
        align-items: center;
        background-color: $color-a;
        padding-top: 70px;
        padding-bottom: 50px;
        padding-left: 25%;
        &__message {
            font-size: 100px;
            font-weight: bold;
        }
    }
    
    .introduce {
        align-items: center;
        background-color: $color-b;
        display: flex;
        padding: 50px 30px 50px 30px;
        img {
            width: 30%;
            box-shadow: 10px 10px #E57B48;
        }
        p {
            margin-left: 10%;
            font-size: $font-s;
            font-weight: bold;
            line-height: 1.5em;
        }
    }
    
    .problem {
        background-color: #1886A0;
        color: white;
        text-align: center;
        height: auto;
        .fa-question-circle {
            font-size: 6em;
            margin-top: 50px;
        }
        &__topic {
            font-size: 30px;
            margin-top: 80px;
        }
        .worries {
            color: black;
            display: flex;
            justify-content: space-between;
            margin: 8px 30px 0 30px;
            padding-bottom: 100px;
            &__worry {
                background-color: white;
                border-radius: 20px;
                margin-top: 50px;
                padding: 30px 20px 0 20px;
                width: 32%;
                .fa-times {
                    color: $color-d;
                    font-size: 2em;
                    margin-right: 10px;
                }
                &--title {
                    font-size: $font-m;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &--text {
                    margin-top: 20px;
                    font-size: 12px;
                    line-height: 1.6em;
                }
                img {
                    margin-top: 20px;
                    width: 50%;
                }
                
            }
    
        }
        
    }
    
    .reason {
        background-color: #FFFBF7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 50px 20px 50px;
        position: relative;
        &__head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100px;
            width: 700px;
            z-index: 2;
            p {
                color: white;
                padding: 30px 40px 30px 40px;
                background-color: #C75C29;
                border-radius: 50px;
                font-size: $font-s;
                span {
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
            &--bottom {
                position: relative;
                width: 80%;
                .custom-shape-divider-top-1646805288 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    overflow: hidden;
                    line-height: 0;
                }
                
                .custom-shape-divider-top-1646805288 svg {
                    position: relative;
                    display: block;
                    width: calc(100% + 1.3px);
                    height: 80px;
                }
                
                .custom-shape-divider-top-1646805288 .shape-fill {
                    fill: #C75C29;
                }
            }
        }
    
        .custom-shape-divider-top-1646803781 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom-shape-divider-top-1646803781 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 100px;
        }
        
        .custom-shape-divider-top-1646803781 .shape-fill {
            fill: #1886A0;
        }
        &__title {
            margin-top: 100px;
            &--bigger {
                color: $color-e;
                font-size: 100px;
            }
            &--smaller {
                font-size: $font-m;
                color: $color-f;
                margin-top: -70px;
            }
            .three-reason {
                color: $color-g;
                font-size: $font-b;
                margin-top: 20px;
                span {
                    color: $color-d;
                    font-size: 50px;
                }
            }
        }
        
        &__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 50px;
            width: 100%;
        }
        &__item {
            background-color: #EBD9C7;
            border-radius: 10px;
            padding: 0 10px 40px 10px;
            width: 30%;
            &--number {
                color: $color-d;
                font-size: 50px;
                margin: -20px 0 0 -100%;
            }
            &--title {
                font-size: 14;
                margin-top: 20px;
            }
            &--text {
                color: $color-g;
                font-size: $font-m;
                margin-top: 20px;
                span {
                    color: $color-d;
                }
            }
        }
    
    }
    
    .detail {
        background-color: #FFFBF7;
        padding: 80px 30px 100px 30px;
        &__line {
            border-top: solid 2px $color-d;
            width: 200px;
        }
        .details {
            display: flex;
            align-items: center;
            flex-direction: column;
            &-item {
                align-items: center;
                display: flex;
                flex-direction: row;
                margin-top: 150px;
                &__body {
                    align-items: center;
                    background-color: white;
                    box-shadow: 0 0 10px grey;
                    display: flex;
                    flex-direction: column;
                    padding: 0 20px 30px 20px;
                    width: 40%;
                    z-index: 5;
                    &--number {
                        color: $color-d;
                        font-size: 70px;
                        margin: -30px 0 0 -100%;
                    }
                    &--title {
                        font-size: $font-s;
                    }
                    &--text {
                        color: $color-g;
                        font-size: $font-b;
                        margin-top: 20px;
                        span {
                            color: $color-d;
                        }
                    }
                    &--discript {
                        margin-top: 30px;
                        color: $color-f;
                        font-size: 12px;
                    }
                }
                .left {
                    margin-right: -80px;
                    margin-left: 80px;
                }
                .right {
                    margin-right: 80px;
                    margin-left: -80px;
                }
                .number-right {
                    margin: -30px -100% 0 0;
                }
                img {
                    width: 60%;
                }
            }
        }
    }
    .detail-after {
        position: relative;
        .custom-shape-divider-top-1646793539 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom-shape-divider-top-1646793539 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 144px;
        }
        
        .custom-shape-divider-top-1646793539 .shape-fill {
            fill: #FFFBF7;
        }
    }
    .flow {
        background-color: #F5EBE1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        &__title {
            margin-top: 200px;
            &--bigger {
                color: $color-e;
                font-size: 100px;
            } 
            &--smaller {
                font-size: $font-m;
                color: $color-f;
                margin-top: -70px;
            }
        }
        &__img {
            .img5 {
                margin-top: 100px;
                width: 90%;
            }
        }
        &__items {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            align-items: center;
        }
        &__item {
            display: flex;
            justify-content: space-between;
            width: 90%;
        }
        &__logo {
            width: 10%;
            &--number {
                aspect-ratio: 1;
                background-color: $color-d;
                border-radius: 50%;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                span {
                    font-size: $font-b;
                }
                }
            &--number1 {
                aspect-ratio: 1;
                background-color: $color-d;
                border-radius: 50%;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto 0 auto;
                width: 25%;
                span {
                    font-size: $font-b;
                    margin-top: 10px;
                }
                }
    
            &--box {
                height: 250px;
                &-left {
                    border-right: dashed 2px $color-d;
                    height: 100%;
                    width: 50%;
                }
            }
            &--box2 {
                height: 280px;
                &-left {
                    border-right: dashed 2px $color-d;
                    height: 100%;
                    width: 50%;
                }
            }
            &--box1 {
                height: 50px;
                &-left {
                    border-right: dashed 2px $color-d;
                    height: 100%;
                    width: 50%;
                }
            }
            }
        &__text {
            padding-top: 30px;
            text-align: start;
            width: 37%;
            &--title {
                color: #4B2F0E;
                font-size: $font-b;
            }
            &--body {
                color: #4B2F0E;
                font-size: 12px;
                line-height: 1.8em;
                margin-top: 20px;
            }
        }
        &__img2 {
            padding-top: 20px;
            width: 43%;
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
        .bottom {
            font-size: $font-m;
            background-color: rgb(230,202,165);
            border-radius: 50px;
            margin-top: 70px;
            padding: 20px 80px 20px 80px;
        }
    }
    .flow-after {
        position: relative;
        .custom-shape-divider-top-1646793619 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom-shape-divider-top-1646793619 svg {
            position: relative;
            display: block;
            width: calc(134% + 1.3px);
            height: 152px;
        }
        
        .custom-shape-divider-top-1646793619 .shape-fill {
            fill: #F5EBE1;
        }
    }
    .price {
        align-items: center;
        background-color: #F2E1D0;
        display: flex;
        flex-direction: column;
        padding-top: 250px;
        padding-bottom: 100px;
        text-align: center;
        &__title {
            &--bigger {
                color: $color-e;
                font-size: 100px;
            }
            &--smaller {
                font-size: $font-b;
                color: $color-f;
                margin-top: -70px;
            }
        }
        &__message {
            font-size: $font-b;
            color: #1F140F;
            line-height: 2.5em;
            margin-top: 100px;
            span {
                font-size: 40px;
                color: $color-c;
                margin-right: 5px;
            }
            .fifteen {
                font-size: 50px;
                letter-spacing: 0.001em;
            }
    
        }
        &__border {
            border-right: dashed 2px $color-c;
            margin-top: 20px;
            height: 100px;
        }
        &__address {
            background-color: $color-c;
            border-radius: 10px;
            color: white;
            font-size: $font-m;
            line-height: 1.6em;
            margin-top: 30px;
            text-align: left;
            padding: 30px;
            width: auto;
        }
        .bottom {
            font-size: $font-m;
            background-color: rgb(230,202,165);
            border-radius: 50px;
            margin-top: 100px;
            padding: 20px 80px 20px 80px;
        }
    }
    .company {
        align-items: center;
        text-align: center;
        padding: 0 30px 80px 30px;
        display: flex;
        flex-direction: column;
        
        &__title {
            margin-top: 100px;
            &--bigger {
                color: $color-e;
                font-size: 100px;
            }
            &--smaller {
                font-size: $font-b;
                color: $color-f;
                margin-top: -70px;
            }
        }
        &__items {
            background-color: #F2E1D0;
            border-radius: 10px;
            font-size: $font-m;
            margin-top: 100px;
            text-align: start;
            padding: 40px 70px 40px 70px;
            width: 100%;
            &--item {
                border-bottom: dotted 1px black;
                margin-top: 50px;
                padding: 0 0 30px 15px;
            }
        }
        &__represent {
            margin: 100px 0 0 0;
            display: flex;
        }
        img {
            width: 30%;
        }
        &__profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-left: auto;
            width: 64%;
            &--1 {
                font-size: $font-s;
            }
            &--2 {
                font-size: $font-m;
                margin-top: 20px;
            }
            &--3 {
                color: #1F140F;
                font-size: $font-s;
                font-weight: normal;
                margin-top: 20px;
            }
        }
        .bottom {
            font-size: $font-m;
            background-color: rgb(230,202,165);
            border-radius: 50px;
            margin-top: 100px;
            padding: 20px 80px 20px 80px;
        }
    }
    .footer {
        background-color: black;
        color: white;
        padding: 30px 0 30px 0;
        &__container {
            display: flex;
        }
        &__account {
            padding-left: 15%;
            width: 50%;
            &--title {
                font-size: 30px;
                letter-spacing: 0.1em;
            }
            &--name {
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.1em;
                margin-top: 20px;
            }
            &--mail {
                font-size: 12px;
                font-weight: 50;
                margin-top: 20px;
                opacity: 0.9;
            }
            .socialEffect__box {
                display: flex;
                margin-top: 10px;
                .fab {
                    font-size: 1.5em;
                    margin-right: 30px;
                    opacity: 0.8;
                    transition: 0.3s;
                    &:hover {
                        color: $color-c;
                    }
                }
            }
        }
        &__nav {
            font-weight: normal;
            letter-spacing: 0.15em;
            line-height: 2em;
            width: 50%;
            ul {
                margin-left: 50px;
                display: flex;
                .right {
                    margin-left: 50px;
                }
            }
        }
    }
}
@media screen and (max-width: 479px) {
    body {
        font-weight: bold;
    }
    .header {
        align-items: center;
        background-color: $color-a;
        display: flex;
        font-weight: bold;
        height: auto;
        padding-top: 30px;
        width: 100%;
            &__logo {
                text-align: center;
                img{
                width: 60%;
                }
            }
            &__nav{
                display: none;
                margin-left: auto;
                margin-right: 20px;
                width: 70%;
            }
            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            &__list {
                font-size: 14px;
            }
    }
    .top {
        display: flex;
        align-items: center;
        background-color: $color-a;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10%;
        &__message {
            font-size: 50px;
            font-weight: bold;
        }
    }
    
    .introduce {
        align-items: center;
        background-color: $color-b;
        display: flex;
        flex-direction: column;
        padding: 50px 30px 50px 30px;
        img {
            width: 70%;
            box-shadow: 10px 10px #E57B48;
        }
        p {
            font-size: $font-s;
            font-weight: bold;
            line-height: 1.5em;
            margin-top: 50px;
        }
    }
    
    .problem {
        background-color: #1886A0;
        color: white;
        text-align: center;
        height: auto;
        .fa-question-circle {
            font-size: 4em;
            margin-top: 20px;
        }
        &__topic {
            font-size: 22px;
            margin-top: 40px;
        }
        .worries {
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 8px 30px 0 30px;
            padding-bottom: 100px;
            &__worry {
                background-color: white;
                border-radius: 20px;
                margin-top: 50px;
                padding: 30px 20px 0 20px;
                width: 100%;
                .fa-times {
                    color: $color-d;
                    font-size: 2em;
                    margin-right: 10px;
                }
                &--title {
                    font-size: $font-b;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &--text {
                    margin-top: 20px;
                    font-size: 14px;
                    line-height: 1.6em;
                }
                img {
                    margin-top: 20px;
                    width: 40%;
                }
                
            }
    
        }
        
    }
    
    .reason {
        background-color: #FFFBF7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 10px 20px 10px;
        position: relative;
        &__head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 2;
            p {
                color: white;
                padding: 20px 20px 20px 20px;
                background-color: #C75C29;
                border-radius: 50px;
                font-size: $font-m;
                margin-top: 20px;
                span {
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
            &--bottom {
                position: relative;
                width: 80%;
                .custom-shape-divider-top-1646805288 {
                    position: absolute;
                    top: -1px;
                    left: 0;
                    width: 100%;
                    overflow: hidden;
                    line-height: 0;
                }
                
                .custom-shape-divider-top-1646805288 svg {
                    position: relative;
                    display: block;
                    width: calc(100% + 1.3px);
                    height: 40px;
                }
                
                .custom-shape-divider-top-1646805288 .shape-fill {
                    fill: #C75C29;
                }
            }
        }
    
        .custom-shape-divider-top-1646803781 {
            position: absolute;
            top: -1px;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom-shape-divider-top-1646803781 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 100px;
        }
        
        .custom-shape-divider-top-1646803781 .shape-fill {
            fill: #1886A0;
        }
        &__title {
            margin-top: 50px;
            &--bigger {
                color: $color-e;
                font-size: 70px;
            }
            &--smaller {
                font-size: $font-m;
                color: $color-f;
                margin-top: -60px;
            }
            .three-reason {
                color: $color-g;
                font-size: $font-b;
                margin-top: 20px;
                span {
                    color: $color-d;
                    font-size: 50px;
                }
            }
        }
        
        &__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 50px;
            width: 100%;
        }
        &__item {
            background-color: #EBD9C7;
            border-radius: 10px;
            padding: 0 10px 40px 10px;
            width: 30%;
            &--number {
                color: $color-d;
                font-size: 40px;
                margin: -20px 0 0 -70%;
            }
            &--title {
                font-size: 12px;
                margin-top: 20px;
            }
            &--text {
                color: $color-g;
                font-size: 14px;
                margin-top: 20px;
                span {
                    color: $color-d;
                }
            }
        }
    
    }
    
    .detail {
        background-color: #FFFBF7;
        padding: 80px 30px 70px 30px;
        &__line {
            border-top: solid 2px $color-d;
            width: 150px;
        }
        .details {
            display: flex;
            align-items: center;
            flex-direction: column;
            &-item {
                align-items: center;
                display: flex;
                flex-direction: row;
                margin-top: 100px;
                &__body {
                    align-items: center;
                    background-color: white;
                    box-shadow: 0 0 10px grey;
                    display: flex;
                    flex-direction: column;
                    padding: 0 20px 30px 20px;
                    width: 100%;
                    z-index: 5;
                    &--number {
                        color: $color-d;
                        font-size: 70px;
                        margin: -30px 0 0 -100%;
                    }
                    &--title {
                        font-size: $font-s;
                    }
                    &--text {
                        color: $color-g;
                        font-size: $font-b;
                        margin-top: 20px;
                        span {
                            color: $color-d;
                        }
                    }
                    &--discript {
                        margin-top: 30px;
                        color: $color-f;
                        font-size: 12px;
                    }
                }

                .number-right {
                    margin: -30px 0 0 -100%;
                }
                img {
                    width: 60%;
                    display: none;
                }
            }
        }
    }
    .detail-after {
        position: relative;
        .custom-shape-divider-top-1646793539 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom-shape-divider-top-1646793539 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 144px;
        }
        
        .custom-shape-divider-top-1646793539 .shape-fill {
            fill: #FFFBF7;
        }
    }
    .flow {
        background-color: #F5EBE1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        &__title {
            margin-top: 200px;
            &--bigger {
                color: $color-e;
                font-size: 100px;
            } 
            &--smaller {
                font-size: $font-m;
                color: $color-f;
                margin-top: -70px;
            }
        }
        &__img {
            .img5 {
                margin-top: 100px;
                width: 90%;
            }
        }
        &__items {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            align-items: center;
        }
        &__item {
            display: flex;
            justify-content: space-between;
            width: 90%;
        }
        &__logo {
            width: 15%;
            &--number {
                aspect-ratio: 1;
                background-color: $color-d;
                border-radius: 50%;
                color: white;
                display: flex;
                font-size: 12px;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                span {
                    font-size: $font-b;
                }
                }
            &--number1 {
                aspect-ratio: 1;
                background-color: $color-d;
                border-radius: 50%;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto 0 auto;
                width: 25%;
                span {
                    font-size: $font-b;
                    margin-top: 10px;
                }
                }
    
            &--box {
                height: 200px;
                &-left {
                    border-right: dashed 2px $color-d;
                    height: 100%;
                    width: 50%;
                }
            }
            &--box2 {
                height: 200px;
                &-left {
                    border-right: dashed 2px $color-d;
                    height: 100%;
                    width: 50%;
                }
            }
            &--box1 {
                height: 20px;
                &-left {
                    border-right: dashed 2px $color-d;
                    height: 100%;
                    width: 50%;
                }
            }
            }
        &__text {
            padding-top: 10px;
            text-align: start;
            width: 80%;
            &--title {
                color: #4B2F0E;
                font-size: $font-b;
            }
            &--body {
                color: #4B2F0E;
                font-size: 12px;
                line-height: 1.8em;
                margin-top: 20px;
            }
        }
        &__img2 {
            padding-top: 20px;
            width: 43%;
            display: none;

            img {
                border-radius: 10px;
                width: 100%;
            }
        }
        .bottom {
            font-size: $font-s;
            background-color: rgb(230,202,165);
            border-radius: 50px;
            margin-top: 40px;
            padding: 20px 50px 20px 50px;
        }
    }
    .flow-after {
        position: relative;
        .custom-shape-divider-top-1646793619 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom-shape-divider-top-1646793619 svg {
            position: relative;
            display: block;
            width: calc(134% + 1.3px);
            height: 152px;
        }
        
        .custom-shape-divider-top-1646793619 .shape-fill {
            fill: #F5EBE1;
        }
    }
    .price {
        align-items: center;
        background-color: #F2E1D0;
        display: flex;
        flex-direction: column;
        padding: 150px 20px 50px 20px;
        text-align: center;
        &__title {
            &--bigger {
                color: $color-e;
                font-size: 90px;
            }
            &--smaller {
                font-size: $font-b;
                color: $color-f;
                margin-top: -70px;
            }
        }
        &__message {
            font-size: $font-m;
            color: #1F140F;
            line-height: 2.5em;
            margin-top: 70px;
            span {
                font-size: 30px;
                color: $color-c;
                margin-right: 5px;
            }
            .fifteen {
                font-size: 40px;
                letter-spacing: 0.001em;
            }
    
        }
        &__border {
            border-right: dashed 2px $color-c;
            margin-top: 20px;
            height: 70px;
        }
        &__address {
            background-color: $color-c;
            border-radius: 10px;
            color: white;
            font-size: 14px;
            line-height: 1.6em;
            margin-top: 30px;
            text-align: left;
            padding: 15px;
            width: auto;
        }
        .bottom {
            font-size: $font-s;
            background-color: rgb(230,202,165);
            border-radius: 50px;
            margin-top: 70px;
            padding: 20px 40px 20px 40px;
        }
    }
    .company {
        align-items: center;
        text-align: center;
        padding: 0 20px 50px 20px;
        display: flex;
        flex-direction: column;
        
        &__title {
            margin-top: 100px;
            &--bigger {
                color: $color-e;
                font-size: 70px;
            }
            &--smaller {
                font-size: $font-m;
                color: $color-f;
                margin-top: -60px;
            }
        }
        &__items {
            background-color: #F2E1D0;
            border-radius: 10px;
            font-size: 14px;
            margin-top: 100px;
            text-align: start;
            padding: 20px 10px 20px 10px;
            width: 100%;
            &--item {
                border-bottom: dotted 1px black;
                margin-top: 20px;
                padding: 0 0 15px 15px;
            }
        }
        &__represent {
            margin: 50px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            width: 60%;
        }
        &__profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-top: 50px;
            width: 100%;
            &--1 {
                font-size: $font-s;
            }
            &--2 {
                font-size: $font-m;
                margin-top: 20px;
            }
            &--3 {
                color: #1F140F;
                font-size: $font-s;
                font-weight: normal;
                margin-top: 20px;
            }
        }
        .bottom {
            font-size: $font-s;
            background-color: rgb(230,202,165);
            border-radius: 50px;
            margin-top: 50px;
            padding: 20px 40px 20px 40px;
        }
    }
    .footer {
        background-color: black;
        color: white;
        padding: 30px 0 30px 0;
        &__container {
            display: flex;
        }
        &__account {
            padding-left: 15%;
            width: 50%;
            &--title {
                font-size: 30px;
                letter-spacing: 0.1em;
            }
            &--name {
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.1em;
                margin-top: 20px;
            }
            &--mail {
                font-size: 12px;
                font-weight: 50;
                margin-top: 20px;
                opacity: 0.9;
            }
            .socialEffect__box {
                display: flex;
                margin-top: 10px;
                .fab {
                    font-size: 1.5em;
                    margin-right: 30px;
                    opacity: 0.8;
                    transition: 0.3s;
                    &:hover {
                        color: $color-c;
                    }
                }
            }
        }
        &__nav {
            display: none;
            font-weight: normal;
            letter-spacing: 0.15em;
            line-height: 2em;
            width: 50%;
            ul {
                margin-left: 50px;
                display: flex;
                .right {
                    margin-left: 50px;
                }
            }
        }
    }
}
